<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/><uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <queries><package android:name="online.ebeinc.ebeos"/><package android:name="online.ebeinc.allthings140radio"/><package android:name="online.allthings140radio.radio"/><package android:name="com.tailscale.ipn"/></queries>
 <application android:allowBackup="true" android:label="@string/app_name" android:theme="@android:style/Theme.Material.NoActionBar" android:usesCleartextTraffic="false">
  <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <receiver android:name=".WidgetPack$ActionReceiver" android:exported="false"/>
  <receiver android:name=".WidgetPack$RadioFull" android:exported="false" android:label="@string/radio_full"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$RadioCompact" android:exported="false" android:label="@string/radio_compact"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$SystemMonitor" android:exported="false" android:label="@string/system_monitor"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$AtAGlance" android:exported="false" android:label="@string/at_a_glance"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$NetworkVpn" android:exported="false" android:label="@string/network_vpn"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$DeviceHealth" android:exported="false" android:label="@string/device_health"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$QuickPanels" android:exported="false" android:label="@string/quick_panels"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$Battery" android:exported="false" android:label="@string/battery"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
  <receiver android:name=".WidgetPack$Storage" android:exported="false" android:label="@string/storage"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/></receiver>
 </application>
</manifest>
